<footer class="footer">
    <div class="container">
        <p class="footer-contact">Mail: n01707140@humber.ca</p>
        <p class="footer-course">ITE5315 - Assignment 2</p>
    </div>
</footer>
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: __Mohammad Fawzaan Khan Juhoor___ Student ID: __N01707140___ Date: ___17-10-2025___
*
*
******************************************************************************
**/ --}}