<div class="container">
    <div class="content">
        <h1>Welcome to Airbnb Property Search</h1>
        <p class="welcome-subtitle">Find your perfect stay</p>
        
        <div class="action-buttons">
            <a href="/search/id/" class="back-link">Search by Property ID</a>
            <a href="/search/name/" class="back-link"> Search by Property Name</a>
        </div>
    </div>
</div>
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: __Mohammad Fawzaan Khan Juhoor___ Student ID: __N01707140___ Date: ___28-10-2025___
*
*
******************************************************************************
**/ --}}