<div class="search-container">
    <h1>Search by Property ID</h1>
    <form action="/search/id/" method="post">
        <div class="form-group">
            <label for="propertyId">Enter Property ID</label>
            <input type="text" id="propertyId" name="propertyId"  required>
        </div>
        <button type="submit">Search Property</button>
    </form>
    <div class="search-nav">
        <a href="/search/name/"> Search by Name</a>
        <a href="/">Home</a>
    </div>
</div>
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: __Mohammad Fawzaan Khan Juhoor___ Student ID: __N01707140___ Date: ___28-10-2025___
*
*
******************************************************************************
**/ --}}