<div class="search-container">
    <h1>Search by Property Name</h1>
    <form action="/search/name/" method="post">
        <div class="form-group">
            <label for="propertyName">Enter Property Name</label>
            <input type="text" id="propertyName" name="propertyName" required>
        </div>
        <button type="submit">Search Properties</button>
    </form>
    <div class="search-nav">
        <a href="/search/id/">Search by ID</a>
        <a href="/">Home</a>
    </div>
</div>
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: __Mohammad Fawzaan Khan Juhoor___ Student ID: __N01707140___ Date: ___28-10-2025___
*
*
******************************************************************************
**/ --}}